---
// import { imgImage9, imgImage10, imgImage14, imgVector, imgVector1, imgTc0030421, img12, imgTc0030511, imgFig4, imgFig5, img2025, img21, img7, img4niceNice, imgMenuIcon } from './svg-4xsrb'; // TODO: SVG
const imgImage9 = "";
const imgImage10 = "";
const imgImage14 = "";
const imgVector = "";
const imgVector1 = "";
const imgTc0030421 = "";
const img12 = "";
const imgTc0030511 = "";
const imgFig4 = "";
const imgFig5 = "";
const img2025 = "";
const img21 = "";
const img7 = "";
const img4niceNice = "";
const imgMenuIcon = "";

const imgBgYellow3 = "/images/212630414cccffaef9fc8502c1f0be4f6baf88b3.png";
const imgImage11 = "/images/b1349154267bad351f721b8e795b315ff0392cdb.png";
const imgSolaRinOnly1 = "/images/46606872d0102130d41314be65d8134db2ded4c4.png";
const imgTitlePeak1 = "/images/08fb774dc9063c905a76f3aeaf327e2b32a6b00b.png";
const imgTitleEnd1 = "/images/883f4bc5986499fce38c4210f4172809136aed9c.png";
const img1 = "/images/f09c6c8c8f4b8d0253133d85fbf5d3051cc6c91e.png";
const img2 = "/images/9d073d64e7688e630e0dd109d07cc14f1dc79d01.png";
const imgTc30422 = "/images/ab2ba9388f55027d4323199d2bb8617722e4992d.png";
const imgTc30512 = "/images/d5e9252b81c793c9179c22cc45588126f0c4b60c.png";
const imgHadeerPeakendFix = "/images/18e833807e1fcda84c8bb77a6ea04a9c9bccdbdf.png";

const subImages = [
  { src: img2, label: "サブ２ 1", left: "-2px",  top: "1360px" },
  { src: img2, label: "サブ２ 2", left: "238px", top: "1360px" },
  { src: img2, label: "サブ２ 3", left: "-2px",  top: "1490px" },
  { src: img2, label: "サブ２ 4", left: "239px", top: "1490px" },
];

const awards = [
  { src: img2025, width: "81.844px", alt: "ぴあフィルム フェスティバル2025 入選" },
  { src: img21,   width: "81.844px", alt: "第21回 大阪アジアン映画祭 招待上映" },
  { src: img7,    width: "90.978px", alt: "令和7年度 芳泉文化財団映像（日本映画）＜学部生対象＞ 研究表彰 大賞" },
  { src: img4niceNice, width: "81.999px", alt: "第4回 沖縄NICE映画祭 NICE特別賞" },
];
---

<!-- ルート: 背景色あり → 背景はルート要素、コンテンツを内側divに -->
<main class="bg-[#ffffeb] relative size-full">
  <div class="max-w-120 mx-auto relative">

    <!-- 背景画像: BG_Yellow 3 -->
    <div class="absolute h-[863px] left-0 top-0 w-[393px]">
      <div class="absolute inset-0 overflow-hidden pointer-events-none">
        <img alt="" class="absolute h-[168.27%] left-[-80.58%] max-w-none top-0 w-[261.17%]" src={imgBgYellow3} />
      </div>
    </div>

    <!-- ヘッダー: ロゴ -->
    <header>
      <div class="absolute h-[69px] left-0 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-[16px] w-[216px]">
        <img alt="PEAKEND" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgHadeerPeakendFix} />
      </div>

      <!-- ハンバーガーメニュー -->
      <button class="absolute left-[344px] size-[32px] top-[35px] cursor-pointer" aria-label="メニューを開く">
        <img alt="" class="absolute block max-w-none size-full" src={imgMenuIcon} />
      </button>
    </header>

    <!-- メインビジュアル: キャラクター -->
    <div class="absolute h-[506px] left-[17px] top-[104px] w-[362px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgSolaRinOnly1} />
    </div>

    <!-- タイトル: PEAK -->
    <div class="absolute h-[228px] left-[-14px] top-[394px] w-[358px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgTitlePeak1} />
    </div>

    <!-- タイトル: END -->
    <div class="absolute h-[206px] left-[108px] top-[561px] w-[323px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgTitleEnd1} />
    </div>

    <!-- 受賞バッジ群 -->
    <div class="-translate-x-1/2 absolute content-stretch flex gap-[4px] items-center left-[calc(50%-0.17px)] top-[752px]">
      {awards.map((award) => (
        <div class="h-[48.903px] relative" style={`width: ${award.width}`}>
          <img alt={award.alt} class="absolute block max-w-none size-full" src={award.src} />
        </div>
      ))}
    </div>

    <!-- キャプション: A Film by SHIN CHAERIN -->
    <p class="absolute h-[29px] left-[calc(50%-91.5px)] text-[16px] top-[815px] w-[183px]">A Film by SHIN CHAERIN</p>

    <!-- マスクグループ 1 (image 9) -->
    <div class="absolute contents left-0 top-[803px]">
      <div class="absolute contents left-0 top-[856px]">
        <div
          class="absolute h-[198px] left-[-85px] mask-position-[85px_-58px,_85px_-5px] top-[861px] w-[352px]"
          style={{ maskImage: `url('${imgImage9}'), url('${imgImage10}')` }}
        >
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgImage11} />
        </div>
      </div>
    </div>

    <!-- マスクグループ 2 (image 13) -->
    <div class="absolute contents left-0 top-[803px]">
      <div class="absolute contents left-[131px] top-[856px]">
        <div
          class="absolute h-[198px] left-[51px] mask-position-[-51px_-58px,_80px_-5px] top-[861px] w-[352px]"
          style={{ maskImage: `url('${imgImage9}'), url('${imgImage10}')` }}
        >
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgImage11} />
        </div>
      </div>
    </div>

    <!-- マスクグループ 3 (image 14 a) -->
    <div class="absolute contents left-0 top-[803px]">
      <div class="absolute contents left-[262px] top-[856px]">
        <div
          class="absolute h-[198px] left-[185px] mask-position-[-185px_-58px,_77px_-5px] top-[861px] w-[352px]"
          style={{ maskImage: `url('${imgImage9}'), url('${imgImage14}')` }}
        >
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgImage11} />
        </div>
      </div>
    </div>

    <!-- マスクグループ 4 (image 14 b) -->
    <div class="absolute contents left-0 top-[803px]">
      <div class="absolute contents left-[262px] top-[856px]">
        <div
          class="absolute h-[198px] left-[185px] mask-position-[-185px_-58px,_77px_-5px] top-[861px] w-[352px]"
          style={{ maskImage: `url('${imgImage9}'), url('${imgImage14}')` }}
        >
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgImage11} />
        </div>
      </div>
    </div>

    <!-- fig 1: ベクター装飾 + テキスト (空の広さ) -->
    <div class="absolute contents left-[-144px] top-[951px]">
      <div class="absolute flex inset-[34.13%_29.64%_50.78%_-36.64%] items-center justify-center">
        <div class="flex-none h-[278.256px] rotate-[135.02deg] skew-x-[0.03deg] w-[316.288px]">
          <div class="relative size-full">
            <img alt="" class="absolute block max-w-none size-full" src={imgVector} />
          </div>
        </div>
      </div>
      <div class="absolute h-[85px] leading-[0] left-[calc(50%-179.5px)] text-[16px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] top-[1051px] w-[259px]">
        <p class="mb-0">空の広さくらい</p>
        <p class="">地面の広さくらい</p>
      </div>
    </div>

    <!-- fig 2: ベクター装飾 + テキスト (하늘만큼) -->
    <div class="absolute contents left-[179px] top-[936px]">
      <div class="absolute flex inset-[33.6%_-52.66%_51.35%_45.55%] items-center justify-center">
        <div class="flex-none h-[278.256px] rotate-[-136.94deg] skew-x-[0.03deg] w-[316.288px]">
          <div class="relative size-full">
            <img alt="" class="absolute block max-w-none size-full" src={imgVector1} />
          </div>
        </div>
      </div>
      <div class="-translate-x-full absolute h-[61px] leading-[0] left-[calc(50%+180.5px)] text-[16px] text-right text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] top-[1075px] w-[89px]">
        <p class="mb-0">하늘만큼</p>
        <p class="">땅만큼</p>
      </div>
    </div>

    <!-- メイン画像 1 -->
    <section class="absolute h-[214px] left-0 top-[1146px] w-[394px]">
      <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={img1} />
    </section>

    <!-- テキスト: そらと一緒に -->
    <p class="-translate-x-1/2 absolute h-[38px] left-1/2 text-[16px] text-center text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)] top-[1328px] w-[319px]">そらと一緒にいると自由になる気がする。</p>

    <!-- サブ画像グリッド (2x2) -->
    {subImages.map((item) => (
      <div class="absolute h-[131px] w-[241px]" style={`left: ${item.left}; top: ${item.top}`}>
        <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={item.src} />
      </div>
    ))}

    <!-- マスクグループ: tc_003051 (左) -->
    <div class="absolute contents left-[-153px] top-[1591px]">
      <div class="absolute flex h-[332.643px] items-center justify-center left-[-0.68px] top-[1684.51px] w-[187.111px]" style="--transform-inner-width: 1200; --transform-inner-height: 21">
        <div class="flex-none rotate-90">
          <div
            class="h-[187.111px] mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[-152.321px_-93.51px] mask-size-[465px_469.32px] relative w-[332.643px]"
            style={{ maskImage: `url('${imgTc0030511}')` }}
          >
            <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgTc30512} />
          </div>
        </div>
      </div>
    </div>

    <!-- fig 3: ベクター装飾 + テキスト (別の世界で) -->
    <div class="absolute contents inset-[53.39%_-33.47%_31.53%_26.46%]">
      <div class="absolute flex inset-[53.39%_-33.47%_31.53%_26.46%] items-center justify-center">
        <div class="flex-none h-[278.256px] rotate-[135.02deg] skew-x-[0.03deg] w-[316.288px]">
          <div class="relative size-full">
            <img alt="" class="absolute block max-w-none size-full" src={imgVector} />
          </div>
        </div>
      </div>
      <div class="absolute inset-[59.34%_-4.33%_37%_59.03%] leading-[0] text-[16px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
        <p class="mb-0">別の世界で</p>
        <p class="mb-0">別の存在として</p>
        <p class="mb-0">生きてきた私たちが</p>
        <p class="">お互いを感じる瞬間。</p>
      </div>
    </div>

    <!-- マスクグループ: tc_003042 (右) -->
    <div class="absolute contents left-[81px] top-[1877px]">
      <div class="absolute flex h-[339.319px] items-center justify-center left-[206.25px] top-[1957.71px] w-[190.867px]" style="--transform-inner-width: 1200; --transform-inner-height: 21">
        <div class="-rotate-90 flex-none">
          <div
            class="h-[190.867px] mask-alpha mask-intersect mask-no-clip mask-no-repeat mask-position-[-125.245px_-80.707px] mask-size-[490.228px_490.228px] relative w-[339.319px]"
            style={{ maskImage: `url('${imgTc0030421}')` }}
          >
            <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none size-full" src={imgTc30422} />
          </div>
        </div>
      </div>
    </div>

    <!-- fig 4: 回転アセット + テキスト (そらといると) -->
    <div class="absolute contents left-[-168px] top-[1866px]">
      <div class="absolute flex h-[511.995px] items-center justify-center left-[-168px] top-[1866px] w-[508px]" style="--transform-inner-width: 1200; --transform-inner-height: 21">
        <div class="flex-none rotate-[-50.16deg]">
          <div class="h-[346.376px] relative w-[377.802px]">
            <img alt="" class="absolute block max-w-none size-full" src={img12} />
          </div>
        </div>
      </div>
      <div class="absolute flex inset-[74.66%_38.84%_21.05%_8.4%] items-center justify-center">
        <div class="flex-none h-[117.901px] rotate-[0.44deg] skew-x-[0.88deg] w-[206.444px]">
          <div class="leading-[0] size-full text-[16px] text-shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
            <p class="mb-0">そらといると</p>
            <p class="mb-0">何かが愛に変わる</p>
            <p class="">瞬間が沢山ある。</p>
          </div>
        </div>
      </div>
    </div>

    <!-- fig4: 装飾アセット -->
    <div class="absolute left-[89px] size-[225px] top-[2301px]">
      <img alt="" class="absolute block max-w-none size-full" src={imgFig4} />
    </div>

    <!-- fig5: 装飾アセット -->
    <div class="absolute left-[131px] size-[141px] top-[2539px]">
      <img alt="" class="absolute block max-w-none size-full" src={imgFig5} />
    </div>

    <!-- フッターテキスト: ある愛は -->
    <footer>
      <div class="-translate-x-1/2 absolute bottom-[2.64%] flex items-center justify-center left-[calc(50%-68.33px)] top-[96.82%] w-[36.345px]">
        <div class="flex-none h-[14.578px] rotate-[0.44deg] skew-x-[0.88deg] w-[36.233px]">
          <p class="size-full text-[10px] text-center">えいが</p>
        </div>
      </div>
      <div class="-translate-x-1/2 absolute bottom-[1.47%] flex items-center justify-center left-[calc(50%+12.53px)] top-[97.18%] w-[246.057px]">
        <div class="flex-none h-[35.559px] rotate-[0.44deg] skew-x-[0.88deg] w-[245.79px]">
          <p class="size-full text-[16px] text-center">ある愛はこういう風に始まった。</p>
        </div>
      </div>
    </footer>

  </div>
</main>
