---
const imgCamFilmBg1 = "./images/b1749199e65e769802f6d3744bd5736514a8fb56.png";
---

<section class="bg-[#ffffeb] relative size-full">
  <div class="max-w-120 mx-auto">
    <p class="absolute h-[23px] left-[calc(50%-178.5px)] text-[12px] top-[151px] w-[103px]">敬称略、順不同</p>

    <div class="absolute content-stretch flex flex-col gap-[10px] h-[38px] items-start left-[18px] px-[94px] py-[6px] top-[114px] w-[673px]">
      <div class="absolute content-stretch flex gap-[6px] items-end left-0 top-0 whitespace-nowrap">
        <p class="text-[32px]">KOTOBA</p>
        <div class="content-stretch flex gap-[6px] items-center py-[2px] text-[24px]">
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
          <p>KOTOBA</p>
        </div>
      </div>
      <div class="bg-[rgba(217,107,157,0.64)] h-[25px] w-[289px]"></div>
    </div>

    <div class="-translate-x-1/2 absolute gap-x-[15px] gap-y-[24px] grid-cols-[repeat(3,fit-content(100%))] grid-rows-[repeat(3,fit-content(100%))] inline-grid left-1/2 top-[186px]">

      <!-- row-1, col-3: 岨手由貴子 -->
      <article class="col-3 h-[176px] relative row-1 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[17px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"いろんな事に疲れてしまった（？）私にとって、てらいなく世界への愛を紡ぐことができる彼女たちはとても眩しくて、希望でしかありません。"</p>
          <p class="text-[12px] text-right w-full">岨手由貴子（映画監督）</p>
        </div>
      </article>

      <!-- row-1, col-2: 犬童一心（デフォルトCommentsCard展開） -->
      <article class="col-2 h-[176px] relative row-1 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"若さは、映画の宝石、だが、例え作り手が若くとも誰もが写しとれない。PEAK ENDは若さが尻尾まで詰まったたい焼きみたいだ。"</p>
          <p class="text-[12px] text-right w-full">犬童一心（映画監督）</p>
        </div>
      </article>

      <!-- row-1, col-1: 北小路隆志 -->
      <article class="col-1 h-[176px] relative row-1 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"「ガ—リーな映画を撮ろうとしているの？」と尋ねると、2人はやや不機嫌そうな顔をした気がする。"</p>
          <p class="text-[12px] text-right w-full">北小路隆志（映画評論家）</p>
        </div>
      </article>

      <!-- row-2, col-1: 青山太郎 -->
      <article class="col-1 h-[176px] relative row-2 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"セルフドキュメンタリーのような装いに見えて、その視線は主人公たちのものだけではない。"</p>
          <p class="text-[12px] text-right w-full">青山太郎（映像学者）</p>
        </div>
      </article>

      <!-- row-2, col-2: イ・ラン -->
      <article class="col-2 h-[176px] relative row-2 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"ソラが育った沖縄で鳴り響いていた米軍のヘリコプターの轟音よりも、もっと大きな音で彼女たちを記憶したい。"</p>
          <p class="text-[12px] text-right w-full">イ・ラン（音楽家、作家）</p>
        </div>
      </article>

      <!-- row-2, col-3: 荒木啓子 -->
      <article class="col-3 h-[176px] relative row-2 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <div class="leading-[0] text-[14px] w-full">
            <p class="mb-0">"ああそうだ、そうだった。ありがとう。嬉しい。どこまでも行けるよ。"</p>
            <p>&nbsp;</p>
          </div>
          <p class="text-[12px] text-right w-full">荒木啓子（PFF ディレクター）</p>
        </div>
      </article>

      <!-- row-3, col-1: 月永理絵 -->
      <article class="col-1 h-[176px] relative row-3 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"これは、今を生きるひとりの映画作家による意見表明だ。この途方もなく大きな世界のなかで生きる私たちの小さな世界。</p>
          <p class="text-[12px] text-right w-full">月永理絵（ライター、編集者）</p>
        </div>
      </article>

      <!-- row-3, col-2: 布施琳太郎 -->
      <article class="col-2 h-[176px] relative row-3 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <p class="text-[14px] w-full">"個人的なことが自分だけのものであるために私たちはカメラを回すことができるのかもしれない。"</p>
          <p class="text-[12px] text-right w-full">布施琳太郎（美術家）</p>
        </div>
      </article>

      <!-- row-3, col-3: 秦岳志 -->
      <article class="col-3 h-[176px] relative row-3 w-[313px]">
        <div class="absolute h-[176px] left-0 rounded-[6px] shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] top-0 w-[313px]">
          <img alt="" class="absolute inset-0 max-w-none object-cover pointer-events-none rounded-[6px] size-full" src={imgCamFilmBg1} />
        </div>
        <div class="absolute content-stretch flex flex-col gap-[38px] items-end left-[6px] top-[52px] w-[302px]">
          <div class="leading-[0] text-[14px] w-full">
            <p class="mb-0">"間違って地球に降り立ってしまったかのような、全てにおいて規格外の二人。"</p>
            <p>&nbsp;</p>
          </div>
          <p class="text-[12px] text-right w-full">秦岳志（映画編集者、プロデューサー）</p>
        </div>
      </article>

    </div>
  </div>
</section>
